@model List<Ondas>
@{
    ViewData["Title"] = "SurfSP";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/praias.css">
    <title>Tipos de Onda</title>
</head>

<body>

    <div id="topo">
        <div class="cxtexto">
            <input type="text" placeholder="Pesquisar por ondas">
        </div>
        <div class="icon">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Imagens/home.png" class="home" />
            </a>
        </div>
    </div>

    <section id="cont">

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/ilc.png" class="imgPraia"/>
            <span class="nomePraia">@Model[0].nomeOnda</span>
            <div class="texto">
                <p>
                    @Model[0].descricaoOnda
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/reefBreak.jpg" class="imgPraia"/>
            <span class="nomePraia">@Model[1].nomeOnda</span>
            <div class="texto">
                <p>
                    @Model[1].descricaoOnda
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/poiBreak.jpg" class="imgPraia"/>
            <span class="nomePraia">@Model[2].nomeOnda</span>
            <div class="texto">
                <p>
                    @Model[2].descricaoOnda
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/Crumbly.jpeg" class="imgPraia"/>
            <span class="nomePraia">@Model[3].nomeOnda</span>
            <div class="texto">
                <p>
                    @Model[3].descricaoOnda
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/Tube.jpeg" class="imgPraia"/>
            <span class="nomePraia">@Model[4].nomeOnda</span>
            <div class="texto">
                <p>
                    @Model[4].descricaoOnda
                </p>
            </div>
        </div>

    </section>

    <script src="~/js/praias.js"></script>

</body>
</html>
