@model List<Praias>
@{
    ViewData["Title"] = "SurfSP";
    Layout = null;
    // var listaDePraias = new List<Praias>
    // {
    //     // new Praias(/**/
    //     //     idPraia = 2,"nome","desc","~/Imagens/uba.png"),
    //     // new Praias(2,"nome","desc","~/Imagens/uba.png"),

    // };
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/praias.css">
    <title>Praias em SP</title>
</head>
<body>
    <div id="topo">
        <div class="cxtexto">
            <input type="text" placeholder="Pesquisar por praias">
        </div>
        <div class="icon">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Imagens/home.png" class="home" />
            </a>
        </div>
    </div>

    <section id="cont">
        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/uba.png" class="imgPraia" />
            <span class="nomePraia">@Model[0].nomePraia</span>
            <div class="texto">
                <p>
                @Model[0].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/car.png" class="imgPraia" />
            <span class="nomePraia">@Model[1].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[1].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/ilb.png" class="imgPraia" />
            <span class="nomePraia">@Model[2].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[2].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/ssb.png" class="imgPraia" />
            <span class="nomePraia">@Model[3].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[3].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/ber.png" class="imgPraia" />
            <span class="nomePraia">@Model[4].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[4].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/gua.png" class="imgPraia" />
            <span class="nomePraia">@Model[5].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[5].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/san.png" class="imgPraia" />
            <span class="nomePraia">@Model[6].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[6].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/svc.png" class="imgPraia" />
            <span class="nomePraia">@Model[7].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[7].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/prg.png" class="imgPraia" />
            <span class="nomePraia">@Model[8].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[8].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/mon.png" class="imgPraia" />
            <span class="nomePraia">@Model[9].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[9].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/ita.png" class="imgPraia" />
            <span class="nomePraia">@Model[10].nomePraia </span>
            <div class="texto">
                <p>
                    @Model[10].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/per.png" class="imgPraia" />
            <span class="nomePraia">@Model[11].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[11].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/igu.png" class="imgPraia" />
            <span class="nomePraia">@Model[12].nomePraia </span>
            <div class="texto">
                <p>
                    @Model[12].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/ilc.png" class="imgPraia" />
            <span class="nomePraia">@Model[13].nomePraia</span>
            <div class="texto">
                <p>
                    @Model[13].descricaoPraia
                </p>
            </div>
        </div>

        <div class="cardPraia" onclick="contHeight(this)">
            <img src="~/Imagens/can.png" class="imgPraia" />
            <span class="nomePraia">@Model[14].nomePraia </span>
            <div class="texto">
                <p>
                    @Model[14].descricaoPraia
                </p>
            </div>
        </div>
        </div>
    </section>

    <script src="~/js/praias.js"></script>

</body>
</html>
